@media (max-width: 1150px) {

    header {
        padding-left: 5px;
    }

    header h1 {
        line-height: 2rem;
        max-width: calc(100% - 100px);
        font-size: 2rem;
    }

    header p.subtitle {
        font-size: 1rem;
    }

    .content-selector .content-selector-button {
        width: calc(50% - 2rem);
        min-width: 200px;
    }

    #sidebar {
        position: unset;
        width: auto;
        margin: 0;
        padding: 0;
    }

    #sidebar #hamburger {
        display: block;
        /*background-color: transparent;*/
    }

    #sidebar #sidebar-items {
        display: none;
    }

    #sidebar.active #sidebar-items {
        display: block;
    }

    #sidebar #sidebar-items {
        position: fixed;
        width: 100%;
        background-color: var(--background);
        inset: 0;
        z-index: 1;
        padding: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #sidebar a {
        padding-block: 2rem;
    }

    #sidebar #hamburger {
        position: fixed;
        top: 5px;
        right: 5px;
        font-size: 1rem;
        background-color: white;
        color: var(--background);
        border-radius: 100px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    }

}

@media (max-width: 500px) {

    .content-selector .content-selector-button {
        width: 100%;
        flex-grow: 1;
    }

    #content, .panel {
        width: 100%;
        min-width: 100%;
        margin-inline: 0;
        border-radius: 0;
        padding: 0;
    }
}