header {
    padding: 1rem;
}

header h1 {
    font-size: 3.9375rem;
    margin: 0;
    line-height: 4.3125rem;
    color: var(--primary);
}

header p.subtitle {
    font-size: 1.3125rem;
    line-height: 1.25rem;
    font-weight: 300;
    opacity: 0.5;
    margin-top: 0;
}

footer {
    padding: 1rem 1rem 1rem 3.75rem;
    color: hsla(0, 0%, 100%, 0.5);
}

footer p#copy {
    margin: auto;
}